@model validacije1.Models.Racun
@{
    ViewBag.Title = "IzdavanjeRacuna";
    Html.EnableClientValidation(false);
}
<style>
    label {
        display: inline-block;
        width: 150px;
        margin: 5px;
        font-weight: bold;
    }
</style>

<h2>IzdavanjeRacuna</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div>
        <label>Broj računa:</label>
        @Html.EditorFor(x => x.BrojRacuna)
    </div>

    <div>
        <label>Datum:</label>
        @Html.EditorFor(x => x.Datum)
    </div>

    <div>
        <label>Zaposlenik:</label>
        @Html.EditorFor(x => x.Zaposlenik)
    </div>

    <div>
        <label>Kupac:</label>
        @Html.EditorFor(x => x.Kupac)
    </div>

    <div>
        <label>Cijena:</label>
        @Html.EditorFor(x => x.Cijena)
    </div>

    <input type="submit" value="Pošalji" />

}

